.wrapper{
  
    border: 1px solid #e9e9ed ;
    width: 300px;
    height: 91vh;
    overflow: scroll;

    .category-section{
        
        margin: 1.5rem 1rem;


        .heading{
            position: relative;
            margin-bottom: 15px;
        
            h3{
                text-transform: capitalize;
                font-weight: 600;
                margin-bottom: 15px;
                width: fit-content;
                margin: 0 auto ;
                padding: 0 6px;
                background-color: white;
                color:#606778;
                letter-spacing: 1.5px;
           
            }
            div{
                  height: 1.5px;
                width: 100%;
                position: absolute;
                font-size: 1rem;
                top: 14px;
                left: 0;
                background-color: #e9e9ed;
              
                z-index: -1;
            }
        }

            .category-item{
                display: flex;
                flex-direction: flex;
                flex-wrap: wrap;
                gap:10px

            }
            span{
                font-size: 0.8rem;
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                padding: 4px 6px;
                border-radius: 6px;
                font-weight: 500;
                border :1px solid #c6c6c9;
            }
    }
}