/* ---------------discovery------------------------ */

.discover-container{
   display: flex;
    grid-gap:10px;
    transition: all 200ms ease 0s;
    max-width: 2000px;
   margin: 0 auto;
   justify-content:center ;
   align-items: center;
    
}
.discover-left *{
text-align: left;


}
.discover-left {
    .section-heading{
        font-weight: 500;
        font-size: 1.5rem;
    }
    .section-subheading{
        
        color: #333;
        font-style: normal;
        line-height: 126.19%;
       font-weight: 300;
        text-transform: uppercase!important;
        margin-bottom: 1rem;
        span{
                color:#EB5757
        }
    }
    .desc{
        font-size: 1rem;
        font-weight: 300;

        line-height: 35px;
        margin-bottom: 1rem;
    }
    
    div{
    max-width: 500px;
}
}



.discover-right{
    position: relative;
    grid-gap:20px;
    display: flex;
    justify-content: center;
   
}
.discover-right>a{
    flex : 1;
  

}



.discover-right>a>img{
width: 100%;height: 100%;
object-fit: contain;


margin:  0 auto;
transition: all 0.6s ease-in-out;
max-width: 400px;
}
.discover-div:hover img{
    transform: scale(1.1);

}
.discover-right>a>p{
    color: #666666;
    font-size: 14px;
   text-align: center;
    text-decoration: none;
    line-height: 21px;
    margin: 1rem 0 ;
    font-weight: 300;
    
}

.discover-navigate-icon{
    position: absolute;
    display: flex;
    grid-gap:5px;

    right: 0;
    top:-40px
    
}
.discover-navigate-icon>img{
   width: 17px !important;

}
@media screen and (max-width:1000px) {
    .discover-container{
        flex-direction: column;
        grid-gap:50px
    }
    .discover-left *{
        text-align: center;
        }
    .discover-left>div>button{
        margin: 0 auto;
        }
        .discover-right>a:nth-child(1){
            display: none;
            
        }
}
@media screen and (max-width:550px) {
    .discover-container{
        flex-direction: column !important;
        grid-gap:20px
    }
    .discover-left *{
        text-align: center;
        }
    .discover-left>div>button{
        margin: 0 auto;
        }
        .discover-right>a:nth-child(2){
            display: none;
            
        }
        
}